@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));

  --color-sub: hsl(var(--sub));

  --color-button: hsl(var(--button));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-success: hsl(var(--success));
  --color-warning: hsl(var(--warning));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
}

@layer base {
  :root {
    /* Core app colors */
    --background: 253, 31%, 12%;
    --sub: 346, 95%, 29%;

    /* Surfaces */
    --card: 0 0% 12%;
    --card-foreground: 0 0% 95%;

    /* Borders */
    --border: 0 0% 20%;

    /* Brand */
    --primary: 321, 46%, 16%;
    --primary-foreground: 0 0% 100%;

    --secondary: 40 100% 50%;
    --secondary-foreground: 0 0% 10%;

    /* Status */
    --success: 142, 70%, 45%;
    --warning: 0, 75%, 55%;

    --button: 321, 46%, 16%;

    /* Utility neutrals */
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 70%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}